# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
.uv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Hidden folders
.*/

# Data files
desafio2/songs_dataset/*
desafio2/vectors.tsv
desafio2/labels.tsv
desafio2/songs_dataset.zip
